body{
     /*background-image: url(images/image.png);*/
     
     background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 100.00%);*/
     /*background-color: rgba(0, 0, 255, 0.3); */
     background-size: cover;
     font-family:'Poppins', sans-serif;
    }
.form-group{
     text-rendering: optimizeSpeed;
    }
label {
     font-size: 20px;
     margin-bottom: 5px;
 }
 button{
     text-decoration: wavy;
 }
 button{
     
     align-items: center;
 }
header{
     background-color: #3b8acf;
     color: white;
     padding: 1px;
     text-align: center;
     background-size: cover;
 }
 footer{
     background-color: blanchedalmond;
     color: black;
     padding: 20px;
     position: relative;
     bottom: 0;

 }